# .NET Core / C# .gitignore
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.log
*.pdb
*.cache
*.ide
*.DS_Store
*.swp
*.tmp
*.bak
*.ncrunch*
_ReSharper*/
*.resharper
*.DotSettings.user
TestResult*/
*.coverage
*.coveragexml
*.testsettings
*.vspscc
*.vssscc
*.psess
*.vsp
*.vsix
*.docstates
*.orig
*.rej
*.dll
*.exe
*.nupkg
packages/
